{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="{% static 'landing/favicon.ico' %}"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="theme-color" content="#000000"/>
    <meta name="description" content="芥尘的智慧助手 - 专业的AI生活管理应用"/>
    <link rel="apple-touch-icon" href="{% static 'landing/logo192.png' %}"/>
    <link rel="manifest" href="{% static 'landing/manifest.json' %}"/>
    <title>芥尘的智慧助手 - 下载页</title>
    <link href="{% static 'landing/css/main.c2c6db73.css' %}" rel="stylesheet">
</head>
<body>
    <noscript>您需要启用JavaScript才能运行此应用程序。</noscript>
    <div id="root"></div>
    <script defer="defer" src="{% static 'landing/js/main.145adfd3.js' %}"></script>
</body>
</html> 