{% load static %}
<!-- Footer -->
<footer class="container-fluid" id="footer" style="background-color:gray">
    <div class="row pt-3">
        <div class="col-md-6">
            <p>芥尘的数据仓库</p>
            <p>本站提醒您：树立网安意识，莫念无名之利；网络服务各行各业，安全保障改革发展；网络社会法治社会，网络空间网警保卫；打造健康网络环境，保障网民上网无忧。</p>
            <div>
                <a class="m-0 text-center text-light"
                   href="https://beian.mps.gov.cn/#/query/webSearch?code=xxxxxxxxxxxxxx"
                   target="_blank" data-v-644aa589="">粤公网安备 xxxxxxxxxxxxxx号 </a>
                <a class="m-0 text-light" href="https://beian.miit.gov.cn/#/Integrated/index"
                   target="_blank" data-v-644aa589="" style="margin-left: 20px;">粤ICP备2024222534号</a>
            </div>
            <div class="social-media">
                <a href="https://github.com/Chen-Jieteng" target="_blank"><img src="<?php echo BASE_URL . '/assets/images/github-vector.png'?>"></a>
             <!--    <a href="http://www.baidu.com" target="_blank"><img src="<php echo BASE_URL . '/assets/images/line.png'?>"></a> -->
                <a href="https://www.facebook.com/profile.php?id=100026351623146" target="_blank"><img src="<?php echo BASE_URL . '/assets/images/facebook.png'?>"></a>
                <!-- <a href="http://www.baidu.com" target="_blank"><img src="<php echo BASE_URL . '/assets/images/twitter.png'?>"></a> -->
                <a href="https://www.instagram.com/mmp_mars/" target="_blank"><img src="<?php echo BASE_URL . '/assets/images/instagram.png'?>"></a>
            </div>
        </div>
        <div class="col-md-6 mt-2">
            <div class="row">
                <div class="col-md-4 mt-2">
                    <h5>关于我</h5>
                    <a href="https://1150964115.wixsite.com/website/experiences"><small>个人CV</small></a><br>
                    <a href="https://1150964115.wixsite.com/website/skills"><small>个人爱好</small></a><br>
                    <a href="https://1150964115.wixsite.com/website/skills"><small>个人生活</small></a><br>
                </div>
                <div clas="col-md-4 mt-2">
                    <h5>学习资源</h5>
                    <a href="#"><small>推荐教程</small></a><br>
                    <a href="#"><small>推荐书籍</small></a><br>
                    <a href="#"><small>友好链接</small></a><br>
                </div>
                <div class="col-md-4 mt-2">
                    <h5>政策说明</h5>
                    <a href="https://www.mca.gov.cn/article/app/yhxyhyszc/index.html"><small>用户隐私政策</small></a><br>
                    <a href="#"><small>其他法律政策</small></a><br>
                </div>
            </div>
        </div>
        <div class="mt-2 text-center">
            <p><small>版权所有：芥尘的数据仓库</small></p>
            <p><small>标注：灵感来源于dusai博客</small></p>
        </div>
    </div>
</footer>
