{% load static %}
<!-- Footer -->
<footer class="container" id="footer" >
    <div class="row pt-3">
        <div class="col-md-6">
            <p>芥尘的数据仓库</p>
            <p>本站提醒您：树立网安意识，莫念无名之利；网络服务各行各业，安全保障改革发展；网络社会法治社会，网络空间网警保卫；打造健康网络环境，保障网民上网无忧。</p>
            <div>
                <a class="m-0 text-center"
                   href="https://beian.mps.gov.cn/#/query/webSearch?code=44078102440979"
                   target="_blank" data-v-644aa589=""><small>粤公网安备44078102440979号</small></a>
                <a class="m-0" href="https://beian.miit.gov.cn/#/Integrated/index"
                   target="_blank" data-v-644aa589="" style="margin-left: 20px;"><small>粤ICP备2024222534号</small></a>
            </div>
        </div>
        <div class="col-md-2 mt-2">
            <h5>关于我</h5>
            <a href="https://1150964115.wixsite.com/website/experiences"><small>个人CV</small></a><br>
            <a href="https://1150964115.wixsite.com/website/skills"><small>个人爱好</small></a><br>
            <a href="https://1150964115.wixsite.com/website/skills"><small>个人生活</small></a><br>
        </div>
        <div clas="col-md-2 mt-2">
            <h5>学习资源</h5>
            <a href="https://www.bilibili.com/"><small>推荐教程</small></a><br>
            <a href="https://www.baidu.com/s?wd=%E4%B9%A6%E6%9C%AC%E6%8E%A8%E8%8D%90&rsv_spt=1&rsv_iqid=0x9c2b3ba10024fa62&issp=1&f=8&rsv_bp=1&rsv_idx=2&ie=utf-8&tn=baiduhome_pg&rsv_dl=tb&rsv_enter=1&rsv_sug3=50&rsv_sug1=35&rsv_sug7=100&rsv_sug2=0&rsv_btype=i&prefixsug=%25E4%25B9%25A6%25E6%259C%25AC%25E6%258E%25A8%25E8%258D%2590&rsp=4&inputT=7792&rsv_sug4=8434"><small>推荐书籍</small></a><br>
        </div>
        <div class="col-md-2 mt-2">
            <h5>政策说明</h5>
            <a href="https://www.mca.gov.cn/article/app/yhxyhyszc/index.html"><small>用户隐私政策</small></a><br>
            <a href="https://www.12377.cn/"><small>中央网信办</small></a><br>
        </div>
    </div>
    <div class="row mt-2 text-center">
        <p><small>© 2024 版权所有：芥尘的数据仓库</small></p>
    </div>
</footer>
