{% extends "base.html" %}
{% load static %}

{% block title %}
文章详情
{% endblock title %}

{% block content %}
<script src="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'prism/prism.css' %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/YOUR_VERSION/css/all.min.css" rel="stylesheet">


<div class="container">
    
<!--    不用这个了
    <div class="row text-light py-2 bg-light">
        <div class="col-2 py-1">
            <p><b>分类：<a href="#" target="_blank">{{ article.column }}</a></b></p>
        </div>
        <div class="col-2 py-1">
            <p><b>子分类：<a href="#" target="_blank">{{ article.tag }}</a></b></p>
        </div>
    </div> 
    -->
    
    <!-- row3 标题 -->
    <div class="row py-2">
        <h1 class="mt-4 mb-4 font-size:45px">
            <b>{{ article.title }}</b>
        </h1>
    </div>
    <hr>

     <!-- row5 57分照片，摘要 -->
    <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-5 col-xl-5">
            <img src="{{ article.avatar.url }}" alt="avatar" style="max-width:auto; border-radius: 20px">
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-7 col-xl-">
            <p><b>摘要：</b></p>
            <p>这里暂时没有写相应代码</p>
        </div>
    </div>
    <hr>

    <!-- row4 6-发布时间，作者，编辑/删除，4-浏览数，评论数 -->
    <div class="row py-2 bg-light">
        <div class="col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <img class="user-avatar" src="{{ article.author.avatar.url }}" alt="User Avatar">
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
            <p><b>作者：</b>{{ article.author }}<br>
            <b>发表时间：</b>{{article.created|date:"Y-m-d H:i" }} <br>
            <b>更新时间：</b>{{article.updated|date:"Y-m-d H:i" }} </p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
            {% if user == article.author %}
            <div class="row">
                <a href="#" onclick="confirm_safe_delete()">删除</a>
                <form style="display:none;" id="safe_delete" action="{% url 'article:article_safe_delete' article.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">发送</button>
                </form>
            </div>
            <div class="row">
                <a href="{% url "article:article_update" article.id %}">编辑</a>
            </div>
            {% endif %}
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 float-right">
            <p><b>浏览数：</b>{{ article.total_views }}
            <br>
            <b>评论数：</b>{{ comments.count }}</p>
        </div>
    </div>
    <hr>
    <!-- row6 左边3目录(后面做成展开缩放，现在先隐藏移动端的)，右边9正文 -->
    <div class="row py-2">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-4" id="sidebar">
            <div class="sidebar_inner">
                <h4><strong>目录</strong></h4>
                <hr>
                <div>
                    {{ toc|safe }}
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-8 col-lg-9 mt-4 content">
            <p>{{ article.body|safe }}</p>
        </div>
    </div>
    <hr>
    <!-- row7 点赞，分享，没有具体分布，按钮都在同一行 -->
    <div class="row py-1">
        <div class="col-12">
            <button class="btn btn-outline-danger" type="button" 
                onclick="validate_is_like(
                            '{% url 'article:increase_likes' article.id %}',
                            {{ article.id }},
                            {{ article.likes }}
                        )"
            >
                <span>点赞</span>
                <span><i class="far fa-thumbs-up"> </i></span>
                <span id="likes_number">{{ article.likes }}</span>
            </button>
        </div>
<!--         <div class="col-12 col-sm-6 col-md-3 col-lg-1 col-xl-1 py-1" style="text-align:center;>
            <button class="btn btn-outline-danger" type="button" 
                onclick=""
            >
                <span>分享</span>
                <span><i class="fal fa-share-square"></i></span>
            </button>
        </div> -->
    </div>
    
<!--     相邻文章导航，暂时不用，后面弄成猜你喜欢推荐文章
                    <br>
                    <div class="row justify-content-end">
                        {% if next_article %}
                        <div class="col-auto mr-auto">
                            <a  href="{{ next_article.get_absolute_url }}"
                                class="btn btn-info"
                                >
                                {{ next_article.title }}
                            </a>
                        </div>
                        {% endif %}
                    {% if pre_article %}
                        <div class="col-auto">
                            <a  href="{{ pre_article.get_absolute_url }}"
                            class="btn btn-info"
                            >
                                {{ pre_article.title }}
                            </a>
                        </div>
                    {% endif %}
                    </div>
    -->
    <hr>
    <!-- row8 发表评论 -->
    <div class="row">
        <hr>
        {% if user.is_authenticated %}
        <div>
            <form action="{% url 'comment:post_comment' article.id %}" method="POST">
            {% csrf_token %}
                <div class="form-group">
                    <label for="body">
                        <strong>
                            我也要发言：
                        </strong>
                    </label>
                    <div>
                        {{ comment_form.media }}
                        {{ comment_form.body }}
                    </div>
                </div>
                <!-- 提交按钮 -->
                <button type="submit" class="btn btn-primary ">发送</button>
            </form>
        </div>
        <br>
        {% else %}
            <br>
            <h5 class="row justify-content-center">
                请<a href="{% url 'userprofile:login' %}">登录</a>后回复
            </h5>
            <br>
        {% endif %}
    </div>
    <hr>
    <div class="row">
        {% load mptt_tags %}
        <h5>共有{{ comments.count }}条评论</h5>
        
        <!-- 遍历树形结构 -->
        {% recursetree comments %}
        {% with comment=node %}
        <div class="{% if comment.reply_to %}
                    offset-1 col-12 col-sm-12 col-md-12 col-lg-11 col-xl-11
                    {% else %}
                    col-12
                    {% endif %}"
            id="comment_elem_{{ comment.id }}"
        >
            <hr>
            <p>
            <strong style="color: pink">{{ comment.user }}</strong>
            <!-- 显示被回复人 -->
            {% if comment.reply_to %}
                <i class="far fa-arrow-alt-circle-right"
                   style="color: cornflowerblue;"
                ></i>
                <strong style="color: pink">{{ comment.reply_to }}</strong>
            {% endif %}
            </p>
            <div>{{ comment.body|safe }}</div>
            <div>
                <span style="color: gray">{{ comment.created|date:"Y-m-d H:i" }}</span>
                <!-- 加载 modal 的按钮 -->
                {% if user.is_authenticated %}
                    <button type="button"
                            class="btn btn-light btn-sm text-muted"
                            onclick="load_modal({{ article.id }}, {{ comment.id }})"
                    >
                    回复
                    </button>
                {% else %}
                    <a class="btn btn-light btn-sm text-muted"
                        href="{% url 'userprofile:login' %}"
                    >
                    回复
                    </a>
                {% endif %}
            </div>
            <!-- model -->
            <div class="modal fade"
                 id="comment_{{ comment.id }}"
                 tabindex="-1"
                 role="dialog"
                 aria-labelledby="CommentModalCenter"
                 aria-hidden="true"
            >
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content" style="height: 480px">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">回复 {{ comment.user }}：</h5>
                        </div>
                        <div class="modal-body" id="modal_body_{{ comment.id }}"></div>
                    </div>
                </div>
            </div>
    
            {% if not comment.is_leaf_node %}
                <div class="children">
                    {{ children }}
                </div>
            {% endif %}
        </div>
        {% endwith %}
        {% endrecursetree %}
    </div>
    <hr>
</div>



<!-- 样式 -->
<style>
    .user-avatar {
        width: auto;
        height: auto;
        border-radius: 100%;
        object-fit: cover;
    }
    #sidebar {
        position: relative; /* 或其他需要的定位 */
        
    }

    /* 小屏幕上的样式 */
    @media (max-width: 768px) {
        #sidebar {
            position: relative;
            width: 100%; 
            z-index: 1; 
        }
    
        /* 调整内容部分的顶部间距，防止被目录覆盖 */
        .content {
            padding-top: 0; /* 根据目录的实际高度调整 */
        }
    }
</style>

<script>
    // 删除文章的函数
    function confirm_delete() {
        // 调用layer弹窗组件
        layer.open({
            // 弹窗标题
            title: "确认删除",
            // 正文
            content: "确认删除这篇文章吗？",
            // 点击确定按钮后调用的回调函数
            yes: function(index, layero) {
                // 指定应当前往的 url
                location.href='{% url "article:article_delete" article.id %}'
            },
        })
    }

    function confirm_safe_delete() {
        layer.open({
            title: "确认删除",
            content: "确认删除这篇文章吗？",
            yes: function(index, layero) {
                $('form#safe_delete button').click();
                layer.close(index);
            }
        })
    }
</script>
{% endblock content %}

{% block script %}

<!-- csrf token -->
<script src="{% static 'csrf.js' %}"></script>
<script>
    // 点赞功能主函数
    function validate_is_like(url, id, likes) {
        // 取出 LocalStorage 中的数据
        let storage = window.localStorage;
        const storage_str_data = storage.getItem("my_blog_data");
        let storage_json_data = JSON.parse(storage_str_data);
        // 若数据不存在，则创建空字典
        if (!storage_json_data) {
            storage_json_data = {}
        };
        // 检查当前文章是否已点赞。是则 status = true
        const status = check_status(storage_json_data, id);
        if (status) {
            layer.msg('已经点过赞了哟~');
            // 点过赞则立即退出函数
            return;
        } else {
            // 用 Jquery 找到点赞数量，并 +1
            $('span#likes_number').text(likes + 1).css('color', '#dc3545');
        }
        // 用 ajax 向后端发送 post 请求
        $.post(
            url,
            // post 只是为了做 csrf 校验，因此数据为空
            {},
            function(result) {
                if (result === 'success') {
                    // 尝试修改点赞数据
                    try {
                        storage_json_data[id] = true;
                    } catch (e) {
                        window.localStorage.clear();
                    };

                    const d = JSON.stringify(storage_json_data);
                    // 尝试存储点赞数据到 LocalStorage
                    try {
                        storage.setItem("my_blog_data", d);
                    } catch (e) {
                        // code 22 错误表示 LocalStorage 空间满了
                        if (e.code === 22) {
                            window.localStorage.clear();
                            storage.setItem("my_blog_data", d);
                        }
                    };
                } else {
                    layer.msg("与服务器通信失败..过一会儿再试试呗~");
                }

            }
        );
    };
    // 辅助点赞主函数，验证点赞状态
    function check_status(data, id) {
        // 尝试查询点赞状态
        try {
            if (id in data && data[id]) {
                return true;
            } else {
                return false;
            }
        } catch (e) {
            window.localStorage.clear();
            return false;
        };
    };
</script>

<!-- 粘性侧边栏 -->
<script src="{% static 'sticky_sidebar/jquery.sticky-sidebar.min.js' %}"></script>
<script type="text/javascript">
    $('#sidebar').stickySidebar({
        topSpacing: 20,
        bottomSpacing: 20,
    });
</script>

<!-- Ckeditor自适应 -->
<script>
    $(".django-ckeditor-widget").removeAttr('style');
</script>

<!-- 唤醒二级回复的 modal -->
<script>
    // 加载 modal
    function load_modal(article_id, comment_id) {
        let modal_body = '#modal_body_' + comment_id;
        let modal_id = '#comment_' + comment_id;

        // 加载编辑器
        if ($(modal_body).children().length === 0) {
            let content = '<iframe src="/comment/post-comment/' +
                article_id +
                '/' +
                comment_id +
                '" frameborder="0" style="width: 100%; height: 100%;"></iframe>';
            $(modal_body).append(content);
        };

        $(modal_id).modal('show');
    };

    // 处理二级回复
    function post_reply_and_show_it(new_comment_id) {
        let next_url = "{% url 'article:article_detail' article.id %}";
        // 去除 url 尾部 '/' 符号
        next_url = next_url.charAt(next_url.length - 1) == '/' ? next_url.slice(0, -1) : next_url;
        // 刷新并定位到锚点
        window.location.replace(next_url + "#comment_elem_" + new_comment_id);
    };

    // 目控控制
    function checkStickySidebar() {
        if ($(window).width() > 768) {
            // 只在宽屏上启用stickySidebar
            $('#sidebar').stickySidebar({
                topSpacing: 20,
                bottomSpacing: 20,
            });
        } else {
            // 在小屏幕上禁用stickySidebar
            $('#sidebar').trigger("stickySidebar:detach");
        }
    }

// 页面加载和尺寸变化时检查
$(document).ready(checkStickySidebar);
$(window).resize(checkStickySidebar);
</script>
{% endblock script %}
